body {
  font-size : medium;
  line-height : 1.4em;
  margin    : 3em 10%;
}


div.back{
	text-align: right;
}

/* 表 */

table{
  font-size   : 1.0em;
  margin-left : 1.0em;
}

th {
  border-style : outset;
}



/* 見出し・段落 */

h1,h2,h3,h4,h5,h6 {
  line-height : 1.0em;
}

h1 {
  font-size : xx-large;
}

h2 {
  font-size : x-large;
  margin-top : 4em;
}

h3 {
	font-size : large;
	margin-top: 3em;
}

/* メソッド一覧用 */
h2 + h2, h3 + h3{
	margin-top: 0.2em;
}

p {
  margin-left : 2em;
}



/* リスト */
li {
  margin-bottom		: 0.6em;
}


dl {
	margin-left : 2.0em;
}

dt {
  font-weight  : bold;
}

dd {
  margin-left : 2.0em;
  margin-bottom : 0.5em;
}

ul, ol, dl{
	margin: 2.0em;
}

ul ul{
	margin: 0.5em;
}

li p{
	margin-left: 0.1em;
}


/* 引用＆べた書き */

blockquote, pre{
	margin-left: 3em;
	margin-bottom: 3em;
}

blockquote p{
	margin-left: 0.5em;
}


pre {
	padding: 1em;
}

address {
  text-align : right;
	font-style: normal;
}

em {
  font-weight		: bold;
  font-style		: normal;
}


pre code{
	margin: 0;
}


hr {
}




div.layer {
  padding-left : 1.5em;
}

div.link {
  font-size : 1.2em;
  font-weight : bold;
  margin-top : 2.0em;
  margin-left : 0.5em;
}