@import "base.css";

body {
  color        : #c0c0e0;
  background   : #000000;
  scrollbar-3d-light-color     : black;
  scrollbar-arrow-color        : white;
  scrollbar-base-color         : black;
  scrollbar-dark-shadow-color  : black;
  scrollbar-face-color         : black;
  scrollbar-highlight-color    : #666666;
  scrollbar-shadow-color       : gray;

}

strong{
	color:#ffff00;
}

h2,h3{
  border     : thin outset #202070;
}

h2{
  background : #202070;
}

h3{
	margin-left: 0.5em;
  background : #101050;
}

h2, h3, h4{
	color : #ffffff;
  padding    : 0.2em;
}

h4{
	margin-left: 1.0em;
}

pre{
	border: solid thin #202070;
	background-color: #000000;
	overflow:auto;
	font-size: smaller;
}


table {
  border : none;
}

th,td {
  padding : 0.2em;
}

th {
  background : #303060;
  border : outset 1px #303060;
}

td{
  background : #000000;
  border : solid 1px #404080;
}

th.empty,td.empty{
  background : transparent;
}

table.clear,
table.clear th,
table.clear td {
	border     : none;
	background : transparent;
}

blockquote{
	color: #9999cc;
	border: solid 1px #669999;
}


hr{
	border-width: 0 0;
	border-color: #669999;
	padding: 0;
	height: 1px;
	color: #669999;
	background-color: #669999;
	width: 90%;
}


em{
	font-style: italic;
}

a {

}

a:link {
  color : #00ff00;
}
a:visited{
  color : #00c800;
}


a:link:hover {
  background : green;
  text-decoration: none;
}

a:visited:hover {
  background : green;
  text-decoration: none;
}

input, textarea{
  color : #c0c0e0;
  background-color : black;
}
BUTTON{
	color: #ffffff;
  border		: thin outset #f8f8ff;
  background-color	: #a9a9a9;
}